{% extends 'static/header.html' %}
{% block content %}
<style>
        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }
</style>
    <ul class="progressbar">
        <li class="active">Data Import</li>
        <li class="active">Data Understanding</li>
        <li class="active">Exploratory Data Analysis</li>
        <li class="active">Data Modelling</li>
        <li class="active">Deployment</li>
    </ul>
    <h3 id="success_text" style="font-weight: bold">Model Deployment</h3>
    <hr>

     <div  style="padding: 15px" class="tab">

    <form action="{{name}}" method='POST'>

    {% for feature in selected_features %}
        <label>{{ feature }}</label><input type="text" name="{{ feature }}">
        <br>
    {% endfor %}
   <button style="background-color: #2e6da4; margin-bottom: 10px;  margin-right: 10px; float:left; color: white;"  type="submit">Predict</button>

    </form>
     </div>

{% endblock %}