{% extends 'static/header.html' %}
{% block content %}
    <style>
        .collapsible {
            background-color: #f1f1f1;
            color: #777;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .collapsible .active, .collapsible:hover {
            background-color: #ccc;
        }

        .collapsible:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
        }
        .recommended{
            background-color: #ffd70085;
            border-radius: 10px;
            font-size: 12px;
            width: 100px;
            text-align: center;
            font-weight: normal;
        }
    </style>

    <ul class="progressbar">
        <li class="active">Data Import</li>
        <li class="active">Data Understanding</li>
        <li class="active">Exploratory Data Analysis</li>
        <li class="active">Data Modelling</li>
    <li>Deployment</li>
    </ul>
    <h3 style="font-weight: bold" id="success_text">Data Modelling</h3>
    <hr>

    <form name="model_name" action="{{name}}" method='POST'>

        {% if recommended_model == "ann" %}
            <button type="button"  class="collapsible">Random Forest <label class="recommended">Recommended</label></button>
            <div style="background-color: aliceblue; margin: 10px;" class="content">
                <label style="margin-top: 15px">Random Forest</label>
                <hr style="margin-bottom: 5px;  margin-top: 7px;">
                <p>Baseline: {{ baseline | safe }}</p>
                <p>Classification report: {{ ann_report | safe }}</p>
                <button style="background-color: #2e6da4; margin-bottom: 10px;  margin-right: 10px; float:right; color: white;" value="ann" name="model_name"  type="submit">Deploy</button>
            </div>
            <button type="button"  class="collapsible">K Nearest Neighbors</button>
            <div style="background-color: aliceblue; margin: 10px;" class="content">
                <label style="margin-top: 15px">K Nearest Neighbors</label>
                <hr style="margin-bottom: 5px;  margin-top: 7px;">
                <p>Baseline: {{ baseline | safe }}</p>
                <p>Classification report: {{ knn_report | safe }}</p>
                <button style="background-color: #2e6da4; margin-bottom: 10px;  margin-right: 10px; float:right; color: white;" value="knn" name="model_name"  type="submit">Deploy</button>
            </div>
        {% elif recommended_model == "knn" %}
            <button type="button" class="collapsible">K Nearest Neighbors <label class="recommended">Recommended</label></button>
            <div style="background-color: aliceblue; margin: 10px; " class="content">
                <label style="margin-top: 15px">K Nearest Neighbors</label>
                <hr style="margin-bottom: 5px;  margin-top: 7px;">
                <p>Baseline: {{ baseline | safe }}</p>
                <p>Classification report: {{ knn_report | safe }}</p>
                <button style="background-color: #2e6da4; margin-bottom: 10px;  margin-right: 10px; float:right; color: white;" value="knn" name="model_name"  type="submit">Deploy</button>
            </div>
            <button  type="button" class="collapsible">Random Forest </button>
            <div style="background-color: aliceblue; margin: 10px; " class="content">
                <label style="margin-top: 15px">Random Forest</label>
                <hr style="margin-bottom: 5px;  margin-top: 7px;">
                <p>Baseline: {{ baseline | safe }}</p>
                <p>Classification report: {{ ann_report | safe }}</p>
                <button style="background-color: #2e6da4; margin-bottom: 10px;  margin-right: 10px; float:right; color: white;" value="ann" name="model_name"  type="submit">Deploy</button>
            </div>

        {% else %}
            <button type="button"  class="collapsible">Random Forest</button>
            <div style="background-color: aliceblue; margin: 10px;" class="content">
                <label style="margin-top: 15px">Random Forest</label>
                <hr style="margin-bottom: 5px;  margin-top: 7px;">
                <p>Baseline: {{ baseline | safe }}</p>
                <p>Classification report: {{ ann_report | safe }}</p>
                <button style="background-color: #2e6da4; margin-bottom: 10px;  margin-right: 10px; float:right; color: white;" value="ann" name="model_name"  type="submit">Deploy</button>
            </div>
            <button type="button"  class="collapsible">K Nearest Neighbors</button>
            <div style="background-color: aliceblue; margin: 10px; " class="content">
                <label style="margin-top: 15px">K Nearest Neighbors</label>
                <hr style="margin-bottom: 5px;  margin-top: 7px;">
                <p>Baseline: {{ baseline | safe }}</p>
                <p>Classification report: {{ knn_report | safe }}</p>
                <button style="background-color: #2e6da4; margin-bottom: 10px;  margin-right: 10px; float:right; color: white;" value="knn" name="model_name"  type="submit">Deploy</button>
            </div>
        {% endif %}
    </form>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
{% endblock %}
